## Collections
* Array
* String
* List
* Tuple
* Set
* Dictionary

## 1. Array
Similar type of multiple values.

In [ ]:
# Library Import 
from array import array

# Exploring Array Class
# print(dir(array))
# print(help(array))

In [ ]:
array1 = array('i', [])
array2 = array1
print(array1)
print(type(array1))
print(id(array1))
print(isinstance(array1, array))
print(isinstance(array2, array))
print(len(array1))
if len(array1)>=1:
    print(max(array1))
    print(min(array1))
    print(sum(array1))

In [ ]:
# append(self, v, /)
array1 = array('i', [])
"""
array1.append(5)
array1.append(4)
array1.append(7)
array1.append(1)
array1.append(3)
"""
# Input values to Array
# Keyboard
for i in range(7):
    val =int(input("Enter no : "))
    array1.append(val)
# Database table # Task
# File # Task

In [ ]:
# Accessing and Simple Calculation
print(array1)
print(len(array1))
print(max(array1))
print(min(array1))
print(sum(array1))

In [ ]:
# Indexing Element of Array
print(array1[0])
print(array1[1])
print(array1[2])
print(array1[3])
print(array1[4])
print(array1[5])
print(array1[6])

# print(array1[7]) # IndexError: array index out of range

print()
print(array1[-1])
print(array1[-7])

# print(array1[-8]) # IndexError: array index out of range
print()
for i in range(0, 7):
    print(array1[i])

print()    
for i in range(-7, 0, -1):
    print(array1[i])

In [ ]:
## Slicing
print(array1[:])# All Values

print()
print(array1[0:7])

print()
print(array1[1:])

print()
print(array1[:7])

print()
print(array1[:10])

print()
print(array1[1:7:2])

In [ ]:
# count(self, v, /)
# print(array1.count(74))
# print(array1.count(1))
print(array1)
val1 = int(input("Enter no to search : "))
res = array1.count(val1)
if res>=1:
    print(val1, "found ", res, "time(s)")
else:
    print(val1, "not found")

In [ ]:
# extend(self, bb, /)
values=(5, 7, 8, 9, 1)
array1.extend(values)
print(array1)

In [ ]:
# index(self, v, /)  # Search 
value = 9 # ValueError: array.index(x): x not in array
res = array1.count(value)
print(res)
if res>=1:   
    result = array1.index(value)    
    print(result)
else:
    print(value, "not found")

print(array1)

In [ ]:
# insert(self, i, v, /)
value=5
array1.insert(0, value)
print(array1)

In [ ]:
# pop(self, i=-1, /)
array1.pop()# Last Element
print(array1)
array1.pop(4) # 4th Element
print(array1)

In [ ]:
# remove(self, v, /)
if array1.count(1):
    array1.remove(1) # ValueError: array.remove(x): x not in array
print(array1)
if array1.count(5):
    array1.remove(5)
print(array1)

In [ ]:
print(array1)
# reverse(self, /)
print(array1.reverse())
print(array1)

In [ ]:
# tolist(self, /)
list1 = array1.tolist()
print(list1)
print(type(list1))
print(isinstance(list1, list))

In [ ]:
# tostring(self, /)
str1 = array1.tostring()
print(str1)
print(type(str1))
print(isinstance(str1, str))

In [ ]:
print(array1.itemsize)
print(array1.typecode)

In [ ]:
# print(help(array))

## 2. String

In [ ]:
str1 = 'Broadway InfoSys'
str1 = "Broadway InfoSys"
str1 = '''Broadway InfoSys'''
str1 = """Broadway InfoSys"""

print(str1)
print(type(str1))
print(id(str1))
print(isinstance(str1, bool))
print(isinstance(str1, int))
print(isinstance(str1, float))
print(isinstance(str1, complex))
print(isinstance(str1, array))
print(isinstance(str1, str))

print(len(str1))
print(min(str1))
print(max(str1))
print(list(enumerate(str1)))

In [ ]:
# String Concatenation
str1 ="Kathmandu"
str2 =", Nepal"
str3 = str1+str2
print(str3)

str4 = str3*2
print(str3)

str5 = ('Kathmandu'
        ', Nepal')

print(str5)

str6 = "Kathmandu, Nepal"

In [ ]:
# String Indexing and Slicing

# Indexing
print("Indexing")
print(len(str6))# 0-15 (index)
print(str6)
print()
print(str6[0])
print(str6[9])
print(str6[15])
# print(str6[16]) # IndexError: string index out of range
print(str6[-16])
print(str6[-1])
#print(str6[-17]) # IndexError: string index out of range

# Slicing
print()
print("Slicing")
print(str6[:])
print(str6[0:16])
print(str6[4:13])
print(str6[-16:-1])# 
print(str6[:16])
print(str6[::1])
print(str6[::-1])
print(str6[0:20])

In [ ]:
# Membership Operator (int | not in)
str7 = 'Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.'

In [ ]:
print(str7)

In [ ]:
str0= ' a '
result = str0 in str7
print(result)

In [ ]:
result = str7.count(str0)
print(result)

In [ ]:
result = str0 not in str7
print(result)

In [ ]:
# Identity Operator (is | is not)
str1 ="kathamndu"
str2 ="Kathamndu"

print(id(str1))
print(id(str2))

if str1 is str2:
    print("YES")
else:
    print("NO")

if str1 is not str2:
    print("NO")
else:
    print("YES")

In [ ]:
str1 = "Python is an interpreted, high-level and general-purpose programming language. Created by Guido van Rossum who is currently a member of the Python Steering Council and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace. Its language constructs and object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects."
"""
for char in str1:
    print(char)
"""

In [ ]:
# String Formatting
# Escape Squence
print("Hello, \"Whats your name ?\"")
print("Hello\\Hi")
print("Hello\nHi")
print("Hello\tHi")

In [ ]:
# format function
str1 = "Kathmandu"
str2 = ", Nepal"

print(str1+str2)
print("{} {}".format(str1, str2))
print("{0} {1}".format(str1, str2))
print("{1} {0}".format(str1, str2))

In [ ]:
# String Functions

# capitalize(self, /)
str1 = "Kathmandu, NEPAL"
print(str1.capitalize())# Sentence Case

# casefold(self, /)
str1 = "Kathmandu, NEPAL"
print(str1.casefold())# Lower Case

#  center(self, width, fillchar=' ', /)
str1 = "Kathmandu, NEPAL"
print(str1.center(50))
print(str1.center(len(str1)+2, '*'))

# count(sub[, start[, end]]) -> int
str1 = "Kathmandu, NEPAL"
result = str1.count('a', 0, len(str1))
print(result)

# encode(self, /, encoding='utf-8', errors='strict') [Encrypt -> Decrypt]

import base64

# Encode
str1 = "Kathmandu, Nepal"
str2 = str1.encode('ascii')
# print(str2) #b'Kathmandu, Nepal'
print()
print(str1)
str3 = base64.b64encode(str2)
print(str3)# b'S2F0aG1hbmR1LCBOZXBhbA=='

# Decode
print()
str5 = base64.b64decode(str4)
str6 = str5.decode('ascii')
print(str6)

# endswith(suffix[, start[, end]]) -> bool
str1 = "Kathmandu, Nepal"
print(str1.endswith('l'))

str1 = "Kathmandu, Nepal;"
print(str1.endswith(';'))
print()

# pandtabs(self, /, tabsize=8)
str2 = "KAthmandu\tNepal"
print(str2)
print(str2.expandtabs(50))
print()

In [ ]:
# find(sub[, start[, end]]) -> int
str1 = """
    Return True if S ends with the specified suffix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    suffix can also be a tuple of strings to try.
"""
print(str1)
result = str1.find('zoo')
print(result)

# index(sub[, start[, end]]) -> int
result = str1.index('the')
print(result)
print()

# isalnum(self, /)
str1="abc123"
print(str1.isalnum())
str1="abc123#$"
print(str1.isalnum())
print()

# isalpha(self, /)
str1="abc123"
print(str1.isalpha())
str1="abc"
print(str1.isalpha())
print()

# isascii(self, /)
str1="abc123"
print(str1.isascii())

str1="नेपाल"
print(str1.isascii())
print()

# isdecimal(self, /) # Integer
str1="123"
print(str1.isdecimal())
str1="1230"
print(str1.isdecimal())

In [ ]:
# isdigit(self, /)
str1="123"
print(str1.isdigit())

str1="123.2587"
print(str1.isdigit())

str1="ABC"
print(str1.isdigit())
print()

# isidentifier(self, /)
str1 = "other"
print(str1.isidentifier())
print()

# islower(self, /)
str1 = "other"
print(str1.islower())

str1 = "LOWER"
print(str1.islower())
print()

# isnumeric(self, /)
str1 = "LOWER"
print(str1.isnumeric())

str1 = "1258"
print(str1.isnumeric())

str1 = "1258.258"
print(str1.isnumeric())
print()

# isprintable(self, /)
str1 = "1258.258"
print(str1.isprintable())

str1 = " "
print(str1.isprintable())
print()

# isspace(self, /)
str1 = " "
print(str1.isspace())
print()

# istitle(self, /)
str1 = "kathmandu"
print(str1.istitle())

str1 = "Kathmandu"
print(str1.istitle())
print()

# isupper(self, /)
str1 ="kathmandu"
print(str1.isupper())
print(str1.islower())
print()
str1 ="KATHAMNDU"
print(str1.isupper())
print(str1.islower())

In [ ]:
# join(self, iterable, /)
str1 ="KAthmandu"
str2="Nepal"

str3 = str1.join(str2)
print(str3)
print()

# lower(self, /)
# upper(self, /)

str1 ="KAthmandU"
print(str1.lower())
print(str1.upper())

## 3. List

In [ ]:
# Collection of items (N Number)
# Any type of Values
# bool, int, float, complex, array, string, list, tuple, set, dictionary
# Mutable (editable/updatable)

In [ ]:
# dir(list)
# help(list)
# https://docs.python.org/3/tutorial/datastructures.html

In [3]:
# Declare
from sys import getsizeof

list1 = []
list2 = list1
print(type(list1))
print(isinstance(list1, list))
print(len(list1))
print(id(list1))
print(list1)
print(list2)
print("Size : ", getsizeof(list1))

list3 = list(())
list4 = list([1,2,3,4,5,6])
list5 = ([1, 2.34, 345+6J, True, False, 'Kathmandu'])

from array import array
array1 = array('i', [4, 6, 1, 2, 4])
list6 = list(array1)

list7 = [4, 5, 6, 7, [4,5,6]]
list8 = list(('Apple','Banana'))

list9 = ['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries', 'Cantaloupe', 'Crab apples', 'Clementine', 'Cucumbers']
print()
print(list5)
print()
print(list9)

<class 'list'>
True
0
2575778147072
[]
[]
Size :  56

[1, 2.34, (345+6j), True, False, 'Kathmandu']

['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries', 'Cantaloupe', 'Crab apples', 'Clementine', 'Cucumbers']

In [4]:
print(len(list9)) #, 'Cucumbers'

9

In [5]:
# indexing
print(list9[0])
print(list9[2])

val1 = list9[7]
print()
print(val1)
# print(list9[8]) # IndexError: list index out of range

Bananas
Blueberries

Clementine

In [6]:
print(list9)

['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries', 'Cantaloupe', 'Crab apples', 'Clementine', 'Cucumbers']

In [7]:
# Slicing
print(list9[0:100])
print()
print(list9[0:])
print()
print(list9[:5])
print()
print(list9[:])
print()
print(list9[::4])

var2 = list9[:] 
print()
print(var2)

['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries', 'Cantaloupe', 'Crab apples', 'Clementine', 'Cucumbers']

['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries', 'Cantaloupe', 'Crab apples', 'Clementine', 'Cucumbers']

['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries']

['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries', 'Cantaloupe', 'Crab apples', 'Clementine', 'Cucumbers']

['Bananas', 'Cherries', 'Cucumbers']

['Bananas', 'Boysenberries', 'Blueberries', 'Bing Cherry', 'Cherries', 'Cantaloupe', 'Crab apples', 'Clementine', 'Cucumbers']

In [ ]:
# List Functions

In [ ]:
list1 = []
print(type(list1))
print(len(list1))

# append(self, object, /)
list1.append(5)
print(list1)
list1.append(8)
print(list1)
print(len(list1))

#list1.append([2,3])
#print(list1)

In [ ]:
# clear(self, /)
list1.clear()
print(len(list1))
print(list1)

In [12]:
# Referencing
list1 = [9, 3, 7]
list2 = list1 
print()
print(list2)
print(list1)

# index 0->9, 1->3, 2->7
list1[0]=5
print()
print(list1)
print(list2)

print()
print(id(list1))
print(id(list2))

[9, 3, 7]
[9, 3, 7]

[5, 3, 7]
[5, 3, 7]

2493713955200
2493713955200

In [13]:
# copy(self, /)
list1 = [5,7,9]
list2 = list1.copy()
print()
print(id(list1))
print(id(list2))
print()
print(list1)
print(list2)

2493713966592
2493713966848

[5, 7, 9]
[5, 7, 9]

In [14]:
# count(self, value, /)
list1 = [6, 3, 2, 1, 4, 5, 4, 6, 4, 6, 5, 6]
result = list1.count(6)
print(result)

4

In [15]:
# extend(self, iterable, /)
print()
print(list1)
list2 = [7, 1, 5, 2, 1, 8]
list1.extend(list2)
print(list1)

[6, 3, 2, 1, 4, 5, 4, 6, 4, 6, 5, 6]
[6, 3, 2, 1, 4, 5, 4, 6, 4, 6, 5, 6, 7, 1, 5, 2, 1, 8]

In [22]:
# index(self, value, start=0, stop=9223372036854775807, /)
print()
print(list1)
print()
print(list1.count(1))
print()
result = list1.index(1, 0, len(list1))
print(result)
result = list1.index(1, result+1, len(list1))
print(result)
result = list1.index(1, result+1, len(list1))
print(result)
# result = list1.index(1, result+1, len(list1))
# print(result)

[6, 3, 2, 1, 4, 5, 4, 6, 4, 6, 5, 6, 7, 1, 5, 2, 1, 8]

3

3
13
16

In [15]:
# insert(self, index, object, /)
list1 = [8, 6, 7, 8]
list1.insert(0, 6)
print(list1)
list1.insert(4, 9)
print(list1)

[6, 8, 6, 7, 8]
[6, 8, 6, 7, 9, 8]

In [21]:
# pop(self, index=-1, /)
list1.pop(0)
print(list1)
list1.pop()
print(list1)

[7, 8]
[7]

In [20]:
# remove(self, value, /)
list1 = [8, 6, 7, 8]
print(list1)
list1.remove(8)
print(list1)

[8, 6, 7, 8]
[6, 7, 8]

In [24]:
# reverse(self, /)
list1 = [8, 6, 7, 4]
print(list1)
list1.reverse()
print(list1)

[8, 6, 7, 4]
[4, 7, 6, 8]

In [30]:
# sort(self, /, *, key=None, reverse=False)
list1 = [8, 6, 7, 4]
print(list1)
# list1.sort()
list1.sort(reverse=False)
print(list1)

[8, 6, 7, 4]
[4, 6, 7, 8]

In [31]:
# help(list)

In [1]:
# Task
    # Generate an integer number randomly.
    # Create a list of N random integer numbers.
    # Count a specific number in list.
    # Find indexes of specific number in list. 
    # Find and replace specific number by another number.
    # Calculate sum of all items # HW
    # Calculate min item # HW
    # Calculate max item # HW

In [3]:
# Generate an integer number randomly.

import random  # module (py file)
# randint(a, b)
# Return random integer in range [a, b], including both end points.

rn = random.randint(0,100)
print(rn)

rn = random.random()
print(int(rn*10000))

89
4636

In [13]:
# Create a list of 100 random integer numbers.
list1 = []
# print(type(list1))
# print(len(list1))
# print(list1)
# print()
MAX_NUMS = 10
START = 1
STOP  = 10
for i in range(0, MAX_NUMS):
    list1.append(random.randint(START, STOP))
print(list1)
# print(len(list1))

[9, 2, 6, 9, 9, 10, 7, 4, 8, 7]

In [14]:
# Count a specific number in list.
n = int(input("Enter a number to search : "))
result = list1.count(n)
if result>0:
    print(n, "found ", result , "time(s)")
else:
    print(n, "not found")
print()
print(list1)

Enter a number to search : 7
7 found  2 time(s)

[9, 2, 6, 9, 9, 10, 7, 4, 8, 7]

In [7]:
# Find indexes of specific number in list.-v1
import sys
n = int(input("Enter a number to search : "))
try:
    result = list1.index(n, 0, len(list1))
except:
    print(n, "not found")
    result = -1    
print(result)

Enter a number to search : 10
8

In [15]:
# Find indexes of specific number in list.-v2
def search_in_list(list1, num):
    result = []
    counter = 0;
    for n in list1:        
        if n==num:
            result.append(counter)
        counter+=1
    return result

print(list1)
n = int(input("Enter no to search : "))
result=search_in_list(list1, n)
print(result)

[9, 2, 6, 9, 9, 10, 7, 4, 8, 7]
Enter no to search : 7
[6, 9]

In [18]:
# Find and replace specific number by another number.
def find_replace(list1, n1, n2):
    counter = 0
    for num in list1:
        if num == n1:
            list1[counter] = n2
        counter+=1
    return list1

print(list1)
n1 = int(input("Enter number to find : "))
n2 = int(input("Enter number to replace with : "))
list2 = find_replace(list1, n1, n2)
print(list2)

[9, 2, 6, 9, 9, 10, 7, 4, 8, 7]
Enter number to find : 9
Enter number to replace with : 65
[65, 2, 6, 65, 65, 10, 7, 4, 8, 7]

In [69]:
# by Rupak Shrestha
list2 = []
count = 0
while(count<=100):
    num = random.randint(1,100)
    list2.insert(count,num)
    count += 1
print(list2)

[86, 49, 92, 65, 38, 33, 61, 66, 60, 59, 15, 50, 49, 13, 7, 59, 79, 99, 33, 85, 9, 23, 66, 19, 38, 95, 24, 91, 75, 69, 39, 25, 1, 100, 52, 93, 90, 43, 31, 64, 36, 8, 30, 15, 19, 67, 46, 2, 74, 64, 50, 100, 82, 73, 84, 51, 53, 47, 56, 90, 88, 88, 6, 43, 3, 24, 46, 3, 61, 37, 90, 10, 20, 29, 92, 69, 99, 22, 48, 36, 45, 87, 29, 84, 82, 65, 21, 74, 48, 57, 84, 54, 91, 58, 85, 17, 67, 40, 33, 12, 64]

In [19]:
# [17, 95]

### 4. Tuple - tuple ()

In [37]:
# Declare
from array import array
tup1 = ()
tup2 = tuple()
tup3 = (1, 2, 3, 4, 5)
tup4 = (1, 2.25, 3+4J, True, False, "KTM")

array1 = array('i', [7,3,4,5,6])
tup5 = tuple(array1)

list1 = [8, 6, 3, 2, 1]
tup6 = tuple(list1)

tup7 = 9, 5, 6, 7, 3

tup8 = "Kathmandu","Bhaktapur","Lalitpur"

tup9 = (list1, array1)

print(type(tup9))
print(tup9)

<class 'tuple'>
([8, 6, 3, 2, 1], array('i', [7, 3, 4, 5, 6]))

In [38]:
# Step-1
# Create an array of items
# Convert an array to tuple
# Place an array in tuple

# Step-2
# Create a list of items
# Conver a list to tuple
# Place a list in tuple

In [44]:
# Step-1
# Create an array of items
from array import array
array1 = array('i', [2, 4, 5, 1, 2])

# Convert an array to tuple
tup1 = tuple(array1)

# Place an array in tuple
tup2 = (array1,)

print(tup1)
print(tup2)

# Step-2
# Create a list of items
list1 = [5,6,3,2,6]

# Conver a list to tuple
tup3 = tuple(list1)

# Place a list in tuple
tup4 = (list1,)

print(tup3)
print(tup4)

(2, 4, 5, 1, 2)
(array('i', [2, 4, 5, 1, 2]),)
(5, 6, 3, 2, 6)
([5, 6, 3, 2, 6],)

In [3]:
def create_list(min_no, max_no, count):
    import random
    list1 = []
    for i in range(count):
        tmp = random.randint(min_no, max_no)
        list1.append(tmp)
    return list1

In [52]:
list1 = create_list(1, 100, 100)
print(list1)

# list to tuple
tup5 = tuple(list1)
print()
print(tup5)
print()
# list inside of tuple
#tup6 = (list1,)
tup6 = (list1,)
print(tup6)

[55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87]

(55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87)

([55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87],)

In [91]:
# Indexing
print(tup5[0])
print(tup5[99])
# print(tup5[100]) # IndexError: tuple index out of range
print(tup5[-1])
print(tup5[-100])

55
87
87
55

In [99]:
# Slicing
print(tup5[0:100])
print()
print(tup5[:])
print()
print(tup5[10:])
print()
print(tup5[:100])
print()
print(tup5[::2])
print()
print(tup5[::-1])

(55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87)

(55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87)

(63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87)

(55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87)

(55, 21, 75, 6, 97, 63, 77, 9, 83, 41, 23, 99, 25, 70, 99, 36, 60, 5, 83, 65, 90, 97, 82, 73, 75, 38, 2, 28, 91, 36, 27, 54, 57, 55, 15, 75, 32, 75, 56, 13, 59, 18, 3, 30, 5, 42, 10, 19, 68, 45)

(87, 45, 85, 68, 82, 19, 20, 10, 50, 42, 78, 5, 74, 30, 38, 3, 47, 18, 55, 59, 76, 13, 8, 56, 96, 75, 48, 32, 98, 75, 13, 15, 46, 55, 69, 57, 25, 54, 99, 27, 97, 36, 67, 91, 89, 28, 65, 2, 76, 38, 90, 75, 65, 73, 17, 82, 79, 97, 18, 90, 74, 65, 92, 83, 66, 5, 7, 60, 10, 36, 73, 99, 76, 70, 32, 25, 40, 99, 1, 23, 62, 41, 55, 83, 44, 9, 47, 77, 40, 63, 51, 97, 66, 6, 7, 75, 54, 21, 78, 55)

In [58]:
# count(self, value, /)
print(tup5)
result = tup5.count(7)
print("times : ", result)

(55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87)
times :  2

In [62]:
# index(self, value, start=0, stop=9223372036854775807, /)
n = 5
count_result = tup5.count(n)
print(count_result)
result = tup5.index(n, 0, len(tup5))
print("result1", result)
result = tup5.index(n, result+1, len(tup5))
print("result1", result)

2
result1 34
result1 88

In [87]:
def index_count(list1, num):
    result=[]
    count_result = list1.count(num)
    result_index = -1
    for i in range(count_result):
        result_index = list1.index(num, result_index+1, len(list1))
        result.append(result_index)
    return result

In [86]:
print(tup5)
print()
res = index_count(tup5, 10)
print(res)

(55, 78, 21, 54, 75, 7, 6, 66, 97, 51, 63, 40, 77, 47, 9, 44, 83, 55, 41, 62, 23, 1, 99, 40, 25, 32, 70, 76, 99, 73, 36, 10, 60, 7, 5, 66, 83, 92, 65, 74, 90, 18, 97, 79, 82, 17, 73, 65, 75, 90, 38, 76, 2, 65, 28, 89, 91, 67, 36, 97, 27, 99, 54, 25, 57, 69, 55, 46, 15, 13, 75, 98, 32, 48, 75, 96, 56, 8, 13, 76, 59, 55, 18, 47, 3, 38, 30, 74, 5, 78, 42, 50, 10, 20, 19, 82, 68, 85, 45, 87)

[31, 92]

In [67]:
#help(tuple)

### How to Update an item of tuple?

### 5. Set - set {}

In [5]:
# Decalre
# set1 = {} # dict
set1 = set()

set2 = {1, 2, 4, 2, 4, 1, 2, 3, 4, 5, 6}

from array import array
array1 = array('i',[4,5,6,7,4,2,3,4,5])
set3 = set(array1)
print()

list1 = create_list(1, 10, 100)
print(list1)
print()
set4 = set(list1)
print(set4)
print(len(set4))
print(min(set4))
print(max(set4))
print(sum(set4))

tup1 = (5,5,6,7,8,9,6,3)
set5 = set(tup1)
print(type(set5))

[1, 3, 4, 5, 6, 5, 2, 1, 7, 2, 5, 6, 10, 8, 5, 5, 5, 7, 5, 3, 10, 5, 6, 7, 6, 10, 2, 3, 3, 9, 8, 9, 10, 6, 4, 4, 7, 4, 10, 1, 9, 10, 5, 1, 2, 8, 3, 5, 9, 3, 4, 1, 9, 2, 10, 7, 10, 10, 7, 1, 5, 7, 3, 6, 4, 2, 6, 5, 7, 8, 2, 5, 8, 1, 3, 1, 8, 10, 9, 7, 4, 1, 6, 5, 10, 2, 10, 9, 5, 7, 9, 6, 1, 1, 1, 10, 9, 1, 6, 3]

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
10
1
10
55
<class 'set'>

In [6]:
print(len(set4))

10

In [109]:
# add value
set4.add(13)
print(set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13}

In [18]:
#set5 = set4  # Copy by References
set5 = set4.copy() # Copy by value
print(id(set5))
print(id(set4))
set5.clear()
print()
print(set4)
print(set5)

set5 = set4.copy()
print()
print(set5)

1858559600000
1858536585696

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
# difference(...)
set1 = {5, 3, 2, 1, 6}
set2 = {6, 5, 9, 7, 1}
set3 = set2.difference(set1)
print()
print(set1)
print(set2)
print(set3)

{1, 2, 3, 5, 6}
{1, 5, 6, 7, 9}
{9, 7}

In [17]:
# difference_update(...)
set1 = {5, 3, 2, 1, 6}
set2 = {6, 5, 9, 7, 1}
print(set2.difference(set1))

{9, 7}

In [20]:
# pop()
print()
print(set5)
set5.pop()
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
# remove()
import sys
try:
    print()
    print(set5)
    set5.remove(11)
    print(set5)
except:
    print("Error", sys.exc_info()[1])

{2, 3, 4, 5, 6, 8, 9, 10}
Error 11

In [26]:
# union
set1 = {4, 3, 2, 1}
set2 = {5,6,9, 3, 4}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
#help(set)

## Dictionary

In [27]:
# Website <- User (Browser) - Dictionary | JSON
# Website -> User (Browser) - Dictionary | JSON

# Web API - Message Format

In [93]:
# Declare
dict1 = {}

dict2 = {'id':1, 'name':'Rajan', 'address':'Chitwan'}
dict3 = {'id':2, 'name':'Kiran', 'address':'Hetauda'}
print(dict2)
print(dict3)
# Keys
# id
# name
# address

# Values
# id # 1
# name # Rajan
# address # Chitwan
print()
list1 = [dict2, dict3]
print(list1)
print()

print(dict2)
print(dict2['id'])
print(dict2['name'])
print(dict2['address'])
print()
print(dict3)
print()

{'id': 1, 'name': 'Rajan', 'address': 'Chitwan'}
{'id': 2, 'name': 'Kiran', 'address': 'Hetauda'}

[{'id': 1, 'name': 'Rajan', 'address': 'Chitwan'}, {'id': 2, 'name': 'Kiran', 'address': 'Hetauda'}]

{'id': 1, 'name': 'Rajan', 'address': 'Chitwan'}
1
Rajan
Chitwan

{'id': 2, 'name': 'Kiran', 'address': 'Hetauda'}

In [62]:
print(list1)

[9, 2, 3, 1, 4, 6]

In [66]:
for var1 in list1:
    print(var1)

{'id': 1, 'name': 'Rajan', 'address': 'Chitwan'}
{'id': 2, 'name': 'Kiran', 'address': 'Hetauda'}

In [68]:
for key, value in dict2.items():
    print(key, value)

id 1
name Rajan
address Chitwan

In [83]:
# Details
person={}
person['id']=1
person['full_name']='Raj Rai'
person['contact_address']='KTM'

print(type(person))
print(len(person))
# print(min(person))
# print(max(person))
# print(sum(person))

print(person.get('id'))
print(person.get('full_name'))
print(person['contact_address'])

print(person.items())
print(person.keys())
print(person.values())
#print(person.clear())

<class 'dict'>
3
1
Raj Rai
KTM
dict_items([('id', 1), ('full_name', 'Raj Rai'), ('contact_address', 'KTM')])
dict_keys(['id', 'full_name', 'contact_address'])
dict_values([1, 'Raj Rai', 'KTM'])

In [85]:
for key, value in person.items():
    print(key, value)

id 1
full_name Raj Rai
contact_address KTM

In [86]:
countries = {'France':'Paris','Spain':'Madrid','United Kingdom':'London',
            'India':'New Delhi','United States':'Washington DC','Italy':'Rome',
            'Denmark':'Copenhagen','Germany':'Berlin','Greece':'Athens',
            'Bulgaria':'Sofia','Ireland':'Dublin','Mexico':'Mexico City'}

In [92]:
print(countries)
print()
print(countries.items())
print()
print(countries.keys())
print()
print(countries.values())
print()

for key, value in countries.items():
    print(key, value)

{'France': 'Paris', 'Spain': 'Madrid', 'United Kingdom': 'London', 'India': 'New Delhi', 'United States': 'Washington DC', 'Italy': 'Rome', 'Denmark': 'Copenhagen', 'Germany': 'Berlin', 'Greece': 'Athens', 'Bulgaria': 'Sofia', 'Ireland': 'Dublin', 'Mexico': 'Mexico City'}

dict_items([('France', 'Paris'), ('Spain', 'Madrid'), ('United Kingdom', 'London'), ('India', 'New Delhi'), ('United States', 'Washington DC'), ('Italy', 'Rome'), ('Denmark', 'Copenhagen'), ('Germany', 'Berlin'), ('Greece', 'Athens'), ('Bulgaria', 'Sofia'), ('Ireland', 'Dublin'), ('Mexico', 'Mexico City')])

dict_keys(['France', 'Spain', 'United Kingdom', 'India', 'United States', 'Italy', 'Denmark', 'Germany', 'Greece', 'Bulgaria', 'Ireland', 'Mexico'])

dict_values(['Paris', 'Madrid', 'London', 'New Delhi', 'Washington DC', 'Rome', 'Copenhagen', 'Berlin', 'Athens', 'Sofia', 'Dublin', 'Mexico City'])

France Paris
Spain Madrid
United Kingdom London
India New Delhi
United States Washington DC
Italy Rome
Denmark Copenhagen
Germany Berlin
Greece Athens
Bulgaria Sofia
Ireland Dublin
Mexico Mexico City

In [100]:
dict2 = {'id':1, 'name':'Rajan', 'address':'Chitwan'}
dict3 = {'id':2, 'name':'Kiran', 'address':'Hetauda'}
dict4 = {'person1': dict2, 'person2': dict3}

In [101]:
print(dict4)

{'person1': {'id': 1, 'name': 'Rajan', 'address': 'Chitwan'}, 'person2': {'id': 2, 'name': 'Kiran', 'address': 'Hetauda'}}

In [106]:
for item in dict4.items():
    print(item)

for value in dict4.values():
    #print(value)
    for key, value in value.items():
        print(key, value)

('person1', {'id': 1, 'name': 'Rajan', 'address': 'Chitwan'})
('person2', {'id': 2, 'name': 'Kiran', 'address': 'Hetauda'})
id 1
name Rajan
address Chitwan
id 2
name Kiran
address Hetauda

In [109]:
countries = {'France':{'Capital':'Paris','Language':'French'},'Spain':{'Capital':'Madrid','Language':'Spanish'},
             'United Kingdom':{'Capital':'London','Language':'English'},
            'United States':{'Capital':'Washington DC','Language':'English'},
            'Italy':{'Capital':'Rome','Language':'Italian'}
            }

In [110]:
print(countries)

{'France': {'Capital': 'Paris', 'Language': 'French'}, 'Spain': {'Capital': 'Madrid', 'Language': 'Spanish'}, 'United Kingdom': {'Capital': 'London', 'Language': 'English'}, 'United States': {'Capital': 'Washington DC', 'Language': 'English'}, 'Italy': {'Capital': 'Rome', 'Language': 'Italian'}}

In [120]:
for key, value in countries.items():
    print("Country :", key)
    for key, value in value.items():
        print('\t', key,":", value)

Country : France
	 Capital : Paris
	 Language : French
Country : Spain
	 Capital : Madrid
	 Language : Spanish
Country : United Kingdom
	 Capital : London
	 Language : English
Country : United States
	 Capital : Washington DC
	 Language : English
Country : Italy
	 Capital : Rome
	 Language : Italian

In [122]:
#help(dict)

In [123]:
# List, Dictionlay
# for loop
# if statement
# int, float, bool

In [ ]:
# Task-HW
    # Read dictionary(value) from keyboard.    
    # Write and Read Dictionary(es) into/from File.